.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0 42 99 / 0.8);
    position: sticky;
    top: 0;
    z-index: 100;
    background-attachment: fixed;
}

.header__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}

.header__searchContainer {
    width: 55%;
    
}

.header__search {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    border-radius: 24px;
}

.header__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header__searchSuggestions {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.btn {
    background-color: #cd9042;
    height: 37px;
    cursor: pointer;
}
.header__searchIcon {
    padding: 5px;
    height: 22px !important;
}

.header__optionLineOne {
    font-size: 10px;
}

.header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
}

.header__optionBasket {
    display: flex;
    align-items: center;
    color: white;
}

.header_basketCount {
    margin-left: 10px;
    margin-right: 10px;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white
}